*{
    margin: 0;
    padding: 0;
}

.right-menu li{
 display: inline-block;/*cho menu nam ngang*/
 margin-top: 30px !important;
}
.right-menu li .fa {
    font-size: 18px;/*chinh kich thuoc cho icon */
    margin-right: 10px;
    cursor: pointer; /*chi con tro vao hien ban tay */
}
.navbar-brand img{
    width: 110px;
}
.navbar-brand{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);/*can truc x ra giua 50%*/
   
}
.header{
    
}
.navbar{
    padding: 0 35px !important;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin-top: 5px;
}
.navbar-toggler .fa{
    font-size: 30px;
    cursor: pointer;
}
.banner-img{
    margin: 50px 110px;
    width: 60%
}
.banner-img img {
    width: 100%;
    margin-bottom: -80px;
}
.banner{
    position: relative;
}
.banner-title{
    position: absolute;
    left: 50%;
    top: 20%;
   
}
.banner-title h1{
    font-size: 55px;
    background: rgba(255, 252, 252, 0.75);
   
    line-height: 70px;
    padding: 0px 10px 0 10px;
}
.fashion-trends{
 padding: 50px 0;
}
.fashion-box{
    margin: 50px 0;
}
.title-style h1 {
    padding: 30px 0 ;
}
.title-style {
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    max-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
}
.title-style::after {
    content: '';/* noi dung */
    height: 100px;
    width: 150px;
    background-color: #f992a6;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;/*cho hien xuong duoi */
    
}
.title-style::before {
    content: '';/* noi dung */
    height: 100px;
    width: 150px;
    background-color: #f992a6;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;/*cho hien xuong duoi */
    
}
.trending-img{
    position: relative;
    margin-bottom: 15px;
}
.trending-img img {
    width: 100%;
}
.btn-buy{
    width: 100px;
    padding: 10px 0 ;
    outline: none !important;
    border: 0;
    border-radius: 2px;
    position: absolute;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    transition: .6s;/*chuyen dong cua btton*/
    opacity: 0; /*an nut */
}
.trending-img:hover .btn-buy{
    transform: translate(-50%,50%);
    bottom: 50%;
    opacity: 1;/*hien nut */
}
/* .overlay{
    height: 0;
    width: 100%;
    background: #333;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.trending-img:hover .overlay{
    
    height: 100%;
    opacity: .5;
} */
.offer{
    background-image: url(image/banner2.jpg);
    background-size: cover;
    background-position: center;
}
.row{
    margin: initial !important;
}
.subcribe{
    max-width: 600px;
    width: 600px;
    height: 400px;
    margin-top: 120px;
    padding: 60px;
    background: #ffffff8c;
    margin-bottom: 20px;
    
}
.subcribe a {
    width: 100px;
    display: block;
    color: #fff !important;
    background: #000; 
    text-decoration: none !important;
    padding: 5px;
    text-align: center;
}
.offer img {
    width: 300px;
    height: 400px;
    margin:  -100px;
    margin-top: 150px;
}
.fashion-blog{
    margin: 50px 0 50px 0;
}
blog-img{
    margin-top: 50px;
    height: 300px;
    width: 300px;
    display: inline-block;
}
blog-img img {
    width: 100%;
    height: 100%;
}
/*footer*/
.footer{
    margin-top: 50px;
    
}
.payment{
    margin: 50px auto;
}
.payment img{
    width: 300px;
    cursor: pointer;
}
.app-dowload {
    margin: 50px auto;
}
.app-dowload img {
    width: 300px;
}
.footer h5{
    margin-bottom: 20px;

}
.footer h5::before{
    content: '';
    width: 70px;
    height: 3px;
    background: #4f74e8;
    top: 75px;
    position: absolute;
}
.footer-icons{
    text-align: right;

}
.footer-icons .fa{
    margin: 0 10px auto;
    font-size: 20px;
    cursor: pointer;
}
/* for small device */
@media only screen and (max-width:900px){
    .banner-img{
        margin: 40px auto;
        width: 80%;
    }
    .banner-title{
        top:380px;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner-title h1{
        font-size: 16px;
        padding: 5px;
        line-height: 20px;
    }
    .title-style h1 {
        
    }
}